body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
}

a {
	color: black;
}

.content {
	height: 100%;
	width: 100%;
}

.candidateBox {
	height: 100%;
	width: 100%;
	y-overflow: scroll;
}

.candidateList {
	width: 100%;
	border-collapse: collapse;
}

.candidate {
	width: 100%;
}

tr {
	vertical-align: top;
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
}

td {
	padding: 15px 0px 0px 15px;
}

span {
	color: gray;
}

.candidateName {
	width: 20%;
}

.candidateName .candidateNameName {
	margin: 0px;
	width: 100%;
}

.candidateName .candidateNameRole {
	width: 100%;
}

.candidateRoleList {
	width: 15%;
}

.candidateSummary {
	width: 35%;
}

.candidateLinkList {
	width: 15%;
}

.candidateLinkList a {
	width: 100%;
	display: inline-block;
	text-transform: capitalize;
}

.candidateEmail {
	width: 25%;
	padding-top: 25px;
}

.candidateEmail a {
	color: white;
	background-color: green;
	padding: 10px;
	border-radius: 3px;
	border: none;
	width: 100%;
	text-decoration: none;
	text-align: center;
}